.figureFavSkins{
    display:flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.imgFavWeapon{
    width: 350px;
    height: 200px;
    object-fit: contain;
}