.divCardsAgents{
    padding:15px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    margin:0
}
.divCardsAgents section{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figureAgent{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    background-color: var(--redColor);
    color: var(--whiteColor);
}
.figureAgent:hover{
    transform:scale(1.1);
    background-color: var(--whiteColor);
    color: var(--redColor);
    .divButtonCards img{
        transform: scale(1.4);

    }
}

.imgAgentFull{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 70px;

}

.divButtonCards{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
}
.btnInfoAgent{
    height:  40px;
    width: 180px;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border-radius: 10px;
}
.btnInfoAgent:hover{
    background-color: var(--redColor);
    color: var(--whiteColor);
    border:1px solid var(--redColor);
}
.btnAddFav{
    height:  40px;
    width: 70px;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border-radius: 10px;
}
.btnInFav{
    height:  40px;
    width: 70px;
    background-color: #ffd90069;
    border: 3px solid #FFD700;
    border-radius: 10px;
}

.imgBtnFav{
    width: 30px;
    height: 30px;
    border-color: brown;
}

@media screen and (width<400px){
    .divCardsAgents{
        flex-wrap: wrap;
    }
    .divCardsAgents section{
        width:170px;
    }
    .imgAgentFull{
        width: 145px;
        height: 175px;
    }
    .divButtonCards{
        gap:5px;
    }
    .btnInfoAgent{
        width: 100px;
    }
    .btnAddFav{
        width: 50px;
    }
    .btnInFav{
        width: 50px;
    }
    .figureAgent:hover{
        transform:scale(1);
        background-color: var(--redColor);
        color: var(--whiteColor);
        .divButtonCards img{
            transform: scale(1);
    
        }
    }
}