.divFavAgents{
    height: 500px;
    width: 100vw;
    border: 1px solid red;
    display:flex;
}
.divFavMaps{
    height: 500px;
    width: 100vw;
    border: 1px solid red;
}
.divFavWeapons{
    height: 350px;
    width: 100vw;
    border: 1px solid red;
    display:flex;
    align-items: center;
    overflow-x: scroll;
    gap:80px;
}
.divFavSprays{
    height: 700px;
    width: 100vw;
    border: 1px solid red;
}