.divFavAgents{
    height: 500px;
    width: 100vw;
    border: 1px solid red;
    display:flex;
}
.divFavMaps{
    height: 500px;
    width: 100vw;
    border: 1px solid red;
}
.divFavWeapons{
    height: 500px;
    width: 100vw;
    border: 1px solid red;
}
.divFavSprays{
    height: 700px;
    width: 100vw;
    border: 1px solid red;
}