header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 0 50px;
}

.logoHome{
    height: 50px;
    width: 50px;
}
.logoHome img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.divNavHeader{
    display:flex;
    padding:15px;
    gap:50px;
    
}
.logoFavorites{
    width: 30px;
    height: 30px;
}