header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 0 50px;
    position:fixed;
    z-index:10;
    background-color: var(--whiteColor);

}

.logoHome{
    height: 50px;
    width: 50px;
}
.logoHome img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.divNavHeader{
    display:flex;
    justify-content: center;
    width: 60vw;
    padding:15px;
    gap:50px;
    
}
.logoFavorites{
    width: 30px;
    height: 30px;
}

@media screen and (width<800px){
    .divNavHeader{
        width: 60vw;
        gap:10px;
        padding:10px;
    }
    header{
        justify-content: space-around;
        gap:40px;
    }

}

@media screen and (width<500px){
    .divNavHeader{
        font-size: 12px;
    }
}