footer{
    width: 100vw;
    height: 5vh;
    background-color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
footer a{
    display: flex;
    align-items: center;
}
footer a img{
    width: 35px;
    height: 35px;
}