footer{
    width: 100vw;
    height: 5vh;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}
footer img{
    width: 40px;
    height: 40px;
}