:root{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --whiteColor: #ECE8E1;
    --redColor: #FF4655;
    --blackColor: #0F1923;
    --greyColor: #5e5e5e3b;
    --bkColor: #111111;

}
#root{
    height: 100vh;
    width: 100vw;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    padding-top: 10vh;
    width: 100vw;
    min-height: 95vh;
    background-color: var(--blackColor);
    color: var(--whiteColor);

}

a{
    text-decoration: none;
}

.divHomeIntro{
    width: 60vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whiteColor);
}

/*
PALETA
Negro de fondo header y footer #111111
Negro de fondo main #0F1923
Beige de fondo main #ECE8E1
Negro para letras #0F1923
Rojo para letras y botones #FF4655
Gris para algo #292929
*/