.divCardsWeapons{
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.divGeneralWeapons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.divGeneralWeapons h2{
    color:var(--redColor);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
    width: 300px;
}
.divGeneralWeapons > div{
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    border:1px solid var(--redColor);
    padding:10px;
}
.divGeneralWeapons > div > section{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.figureCardWeapon{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.figureCardWeapon:hover{
    transform: scale(1.1)
}

.divCardsWeapons img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}
.btnInformation{
    height: 50px;
    width: 150px;
    color:var(--whiteColor);
    background-color: var(--redColor);
    border:2px solid var(--greyColor);
    border-radius: 10px;
}
.btnInformation:hover{
    -webkit-box-shadow: 0px 0px 10px 5px var(--whiteColor);
-moz-box-shadow: 0px 0px 10px 5px var(--whiteColor);
box-shadow: 0px 0px 10px 5px var(--whiteColor);
}


@media screen and (width<850px){
    
    .divCardsWeapons{
        flex-direction: column;
        width: 100vw;
    }
    .divGeneralWeapons img{
        width: 150px;
    }
    .divGeneralWeapons > div {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .divGeneralWeapons > div > section{
        width: 150px
        
    }
}