.divButtonsSprays{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.btnPagination{
    height: 40px;
    width: 120px;
    color:var(--whiteColor);
    background-color: var(--redColor);
    border:2px solid var(--greyColor);
    border-radius: 10px;
}
.btnPaginationOff{
    height: 40px;
    width: 120px;
    color:var(--whiteColor);
    background-color: var(--greyColor);
    border:2px solid var(--greyColor);
    border-radius: 10px;
}
.divAllSprays{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;

}
.divPrintSprays{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.figureSpray{
    width: 300px;
    height: 300px;
    border:1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.imgSpray{
    width: 200px;
    height: 200px;
}

@media screen and (width<630px){
    .figureSpray{
        width:175px;
        height: 350px;
        border:none;
        border-top:1px solid var(--redColor);
        border-bottom: 1px solid var(--redColor);
    }
    .figureSpray h4{
        height: 60px;
    }
    .imgSpray{
        width: 100px;
        height: 100px;
    }
    .btnPagination{
        height: 40px;
        width: 80px;
    }
    .btnPaginationOff{
        height: 40px;
        width: 80px;
    }
}